#deleteAccountModal .bg-red-soft {
    background-color: rgba(239, 68, 68, 0.1);
}

#deleteAccountModal .text-red {
    color: #ef4444;
}

#deleteAccountModal .input-group .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}