# Python
*.pyc
*.py[cod]
*$py.class
__pycache__/
pip-wheel-metadata/

# Django
*.log
*.pot
*.pyo
*.db
*.sqlite3
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media files
media

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# VSCode
.vscode/

# PyCharm
.idea/

# Environments
.env
.venv/
venv/
.env/
.env.*


# DB Data dump
/datadump.json

# Keys and credentials
/django-4c5e9-firebase-adminsdk.json
/debug_accounts.py


# Custom Admin
admin_panel/static/admin_panel/*
/admin_panel/static/

admin_panel/templates/admin_panel/*

accounts/templates/accounts/gamers/*
accounts/templates/accounts/gamers

accounts/static/accounts/css/gamers/
accounts/static/accounts/css/gamers/*

accounts/static/accounts/js/gamers/
accounts/static/accounts/js/gamers/*

accounts/templates/accounts/shop_owners/competitions/*
accounts/templates/accounts/shop_owners/competitions
accounts/templates/accounts/shop_owners/competitions/detail.html
accounts/templates/accounts/shop_owners/competitions/list.html
accounts/templates/accounts/shop_owners/competitions/submit_result.html


accounts/static/accounts/css/shop_owners/competitions.css

/accounts/templates/accounts/gamers/