# Python
*.pyc
*.py[cod]
*$py.class
__pycache__/
pip-wheel-metadata/

# Django
*.log
*.pot
*.pyo
*.db
*.sqlite3
local_settings.py
db.sqlite3
db.sqlite3-journal
media
#staticfiles/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# VSCode
.vscode/

# PyCharm
.idea/

# Django migrations - Ignore all migration files and compiled migration files except for __init__.py files
migrations/
**/migrations/*.py
!**/migrations/__init__.py
**/migrations/*.pyc

# Environments
.env
.venv/
venv/
.env/
.env.*


# Keys and credentials
/django-4c5e9-firebase-adminsdk.json
/core/static/core/js/firebase-init.js
/core/static/core/js/firebase_config.js
/core/email_service.py
/firebase_config.py
/debug_accounts.py


accounts/templates/accounts/gamers/*
accounts/templates/accounts/shop_owners/*
accounts/templates/accounts/gamers/
accounts/templates/accounts/shop_owners/

accounts/static/accounts/css/gamers/*
accounts/static/accounts/css/shop_owners/*
accounts/static/accounts/css/gamers/
accounts/static/accounts/css/shop_owners/

accounts/static/accounts/js/gamers/*
accounts/static/accounts/js/shop_owners/*
accounts/static/accounts/js/gamers/
accounts/static/accounts/js/shop_owners/
accounts/static/accounts/js/sidebar.js



