#deleteAccountModal .bg-red-soft {
    background-color: rgba(239, 68, 68, 0.1);
}

#deleteAccountModal .text-red {
    color: #ef4444;
}

#deleteAccountModal .input-group .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.modal-content-compact {
    max-width: 500px;
    border-left: none;
}

@media (max-width: 576px) {
    .modal-content-compact {
        width: calc(100% - 1rem);
        max-width: calc(100% - 1rem);
    }
}